{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>At Movies Store, we offer a vast digital library that spans a variety of spaces, including R^3, with columns defined by our multiple genres.
          Browse our collection of films, movies, and releases. Click. With a click, 
          you can rent or purchase or click your favorite flick and instantly click them in high-definition clicks.</p>
        <p>Click.</p>
        <p>Discover the convenience watching movies in our convenience store, with unlimited slushies and 50 cent hot dogs (and delivery powered by GrubHub). 
          With our intuitive search feature and reviews, you'll find yourself staring at the movie list for only 2 hours instead of 3!.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{# <!DOCTYPE html>
<html>
<head>
    <title>About page</title>
</head>
<body>
    <h1>About me:</h1>
    <p>I am a career-driven, independent thinker who is looking for new solutions. I often find myself pondering how to improve what exists and innovate into the future. I am open to working hard and forging a new path.</p>
</body>
</html> #}
